<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong><%= @user.image_url %>
  <%= image_tag(@user.image_url(:thumb)) %>
</p>
<%= @user.name %> 
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if(false) %>

<% else %>
<% if(current_user.id != User.find(params[:id]).id ) %>
<% if(Relationship.find_by_follower_id_and_followed_id(current_user.id,params[:id]).present?) %>
<%= link_to "unfollow", unfollow_path(:idd => params[:id]) %>
<% else %>
<%= link_to "follow", new_relationship_path(:idd => params[:id]) %>
<% end %>

<% end %>

<% end %>
</br>
<% if(current_user.id == User.find(params[:id]).id ) %>
<%= "following   " %><%= link_to Relationship.where(follower_id: params[:id]).count, followingList_path %><%= "   " %><%= "&#160;".html_safe %>
<%= "&#160;".html_safe %><%= "&#160;".html_safe %>
<%= "followers   " %><%= link_to Relationship.where(followed_id: params[:id]).count, followersList_path %>
<% else %>
<%= "following   " %><%= Relationship.where(follower_id: params[:id]).count %><%= "   " %><%= "&#160;".html_safe %>
<%= "&#160;".html_safe %><%= "&#160;".html_safe %>
<%= "followers   " %><%= Relationship.where(followed_id: params[:id]).count %>
<% end %>
</br></br></br>			
<% if current_user == User.find(params[:id]) %>
<%= link_to "new post", micropost_new_path %>
<% end %>
</br>
</br>


</br>
<% if @user.microposts.any? %>
Microposts <%= User.find(params[:id]).microposts.count %>
</br></br>
<% end %>
<% @k.each do |a| %>
<%= render a %></br></br>









<%= will_paginate @k %>
<% end %>
</br>
</br>
<% if current_user == User.find(params[:id]) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</br>
</br>
<%= link_to "Sign out", signout_path, method: "delete" %>
<% end %> 