<strong>Image:</strong><%= micropost.image_url(:thumb) %>
  <%= image_tag(micropost.image_url(:thumb)) %>
<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
  </br>
     <%= Micropost.find(micropost.id).content %> </br> 
	 <% if current_user == User.find(Micropost.find(micropost.id).user_id) %>
<%= link_to 'delete post', micropost, method: :delete %>
	</br><%= link_to 'edit post', edit_micropost_path(micropost) %><% end %>

	</span>
  <span class="timestamp">
    </br>Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      
	  <% end %>
  </span>
</li>
</br></br><hr>