<% if current_user != User.find(Micropost.find(params[:id]).user_id) %>
<%= controller.redirect_to signin_path %>

<% end %>
<% provide(:title, "Edit micropost") %>  
<h1>Update your micropost</h1>
<div class="row"> <div class="span6 offset3">  
<%= form_for(@micropost) do |f| %> 
<%= f.label :content %> <%= f.text_field :content %>
<%= f.label :image %><br>
    <%= f.file_field :image %>
<%= f.submit "Save changes", class: "btn btn-large btn-primary" %> <% end %>
